body { color: #111; font-size: 15px;
       font-family: "open sans", "lato", Avenir, Helvetica, sans-serif;
       margin-left: auto; margin-right: auto;
       margin-left: 300px;
       padding: 0em; padding-right: 2em;
     }

#table-of-contents{
    position: fixed;
    padding: .75em;
    top: 0; left: 0;
    width: 250px; height: 100%;
    color: #111;
    background-color: #222;
}

ul { margin: 0em; padding-left: 2em; list-style: circle; }
ul li { padding: .15em .25em .15em .25em; }

#table-of-contents ul {
    list-style: none; padding: 0em; margin: 0em;
}
#table-of-contents ul ul {
    padding-left: .75em;
}

#table-of-contents h2 { color: #eee; }


h1 { font-size: 1.5em; margin: 0em; padding: 0em; }
h2 { font-size: 1.5em; margin-bottom: .5em;
     padding-top: 5px; padding-left: 0em; border-bottom: 1px solid black;}
h3 { color: #444; font-size: 1.2em; margin: 0em; margin-bottom: .2em; }
h4 { color: #444; }

a { color: #336699; text-decoration: none; }
a:hover { text-decoration: underline; }

table { border-collapse: collapse; }
th { vertical-align: top; padding: .2em .5em .2em .5em;  border: 1px solid black;}
td { vertical-align: top; padding: .2em .5em .2em .5em;  border: 1px solid black;}
td.right { text-align: right; }

.example { margin: 0em 1em 1em 1em; }
